<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" id="foter">

  <div style="background-color: #007bff; color: #ffffff">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light ml-5" style="background-color: #007bff !important">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
          <ul class="navbar-nav mr-auto ml-5" style="color:  #ffffff !important">
            <li class="nav-item active">
              <a class="nav-link" href="#">A
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">B</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">C</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">D</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">E</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">F</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">G</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">H</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">I</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">J</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">K</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">L</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">M</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">N</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">P</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Q</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">R</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">S</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">T</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">U</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">V</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">W</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">X</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Y</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Z</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5" id="footer-content">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-lowercase font-weight-bold">statesman</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="company">We believe democracy is government of the people, for the people and by the people.
          <br> In a democratic government, information should be Transparent, True and Inclusive.</p>

      </div>
      <!-- Grid column -->

      <div class="col-md-10">
        <div class="row">



          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in APC</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>

          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in PDP</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>
            <p>
              <a href="#!">Politicians in</a>
            </p>

          </div>
          <!-- Grid column -->



        </div>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  
  <div style="background-color: #003457; color: #ffffff">
    <div class="container" style=" color: #ffffff">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
  <!-- contact -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> statesman.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>