<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" id="foter">

  <div style="background-color: #007bff; color: #ffffff">
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light ml-5" style="background-color: #007bff !important">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
          <ul class="navbar-nav mr-auto ml-5" style="color:  #ffffff !important">
            <li class="nav-item active">
              <a class="nav-link" href="#">A
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">B</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">C</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">D</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">E</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">F</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">G</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">H</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">I</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">J</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">K</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">L</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">M</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">N</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">P</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Q</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">R</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">S</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">T</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">U</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">V</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">W</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">X</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Y</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Z</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5" id="footer-content">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-lowercase font-weight-bold">statesman</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="company">We believe democracy is government of the people, for the people and by the people.
          <br> In a democratic government, information should be Transparent, True and Inclusive.</p>

      </div>
      <!-- Grid column -->

      <div class="col-md-10">
        <div class="row">



          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in A</a>
            </p>
            <p>
              <a href="#!">Politicians in AA</a>
            </p>
            <p>
              <a href="#!">Politicians in AAC</a>
            </p>
            <p>
              <a href="#!">Politicians in AAP</a>
            </p>
            <p>
              <a href="#!">Politicians in ABP</a>
            </p>
            <p>
              <a href="#!">Politicians in ACD</a>
            </p>
            <p>
              <a href="#!">Politicians in ACPN</a>
            </p>
            <p>
              <a href="#!">Politicians in AD</a>
            </p>
            <p>
              <a href="#!">Politicians in ADC</a>
            </p>
            <p>
              <a href="#!">Politicians in ADP</a>
            </p>
            <p>
              <a href="#!">Politicians in AGA</a>
            </p>
            <p>
              <a href="#!">Politicians in AGAP</a>
            </p>
            <p>
              <a href="#!">Politicians in ANDP</a>
            </p>
            <p>
              <a href="#!">Politicians in ANN</a>
            </p>
            <p>
              <a href="#!">Politicians in ANP</a>
            </p>



          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in ANRP</a>
            </p>
            <p>
              <a href="#!">Politicians in APA</a>
            </p>
            <p>
              <a href="#!">Politicians in APC</a>
            </p>
            <p>
              <a href="#!">Politicians in APDA</a>
            </p>
            <p>
              <a href="#!">Politicians in APGA</a>
            </p>
            <p>
              <a href="#!">Politicians in APM</a>
            </p>
            <p>
              <a href="#!">Politicians in APN</a>
            </p>
            <p>
              <a href="#!">Politicians in APP</a>
            </p>
            <p>
              <a href="#!">Politicians in ASD</a>
            </p>
            <p>
              <a href="#!">Politicians in AUN</a>
            </p>
            <p>
              <a href="#!">Politicians in BNPP</a>
            </p>
            <p>
              <a href="#!">Politicians in C4C</a>
            </p>
            <p>
              <a href="#!">Politicians in CAP</a>
            </p>
            <p>
              <a href="#!">Politicians in CNP</a>
            </p>
            <p>
              <a href="#!">Politicians in COP</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in DA</a>
            </p>
            <p>
              <a href="#!">Politicians in DPC</a>
            </p>
            <p>
              <a href="#!">Politicians in DPP</a>
            </p>
            <p>
              <a href="#!">Politicians in FJP</a>
            </p>
            <p>
              <a href="#!">Politicians in FRESH</a>
            </p>
            <p>
              <a href="#!">Politicians in GDPN</a>
            </p>
            <p>
              <a href="#!">Politicians in GPN</a>
            </p>
            <p>
              <a href="#!">Politicians in HDP</a>
            </p>
            <p>
              <a href="#!">Politicians in ID</a>
            </p>
            <p>
              <a href="#!">Politicians in JMPP</a>
            </p>
            <p>
              <a href="#!">Politicians in KP</a>
            </p>
            <p>
              <a href="#!">Politicians in LM</a>
            </p>
            <p>
              <a href="#!">Politicians in LP</a>
            </p>
            <p>
              <a href="#!">Politicians in LPN</a>
            </p>
            <p>
              <a href="#!">Politicians in MAJA</a>
            </p>

          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">Politicians in MDP</a>
            </p>
            <p>
              <a href="#!">Politicians in MMN</a>
            </p>
            <p>
              <a href="#!">Politicians in MPN</a>
            </p>
            <p>
              <a href="#!">Politicians in MRDD</a>
            </p>
            <p>
              <a href="#!">Politicians in NAC</a>
            </p>
            <p>
              <a href="#!">Politicians in NCMP</a>
            </p>
            <p>
              <a href="#!">Politicians in NCP</a>
            </p>
            <p>
              <a href="#!">Politicians in NDCP</a>
            </p>
            <p>
              <a href="#!">Politicians in NDLP</a>
            </p>
            <p>
              <a href="#!">Politicians in NEPP</a>
            </p>
            <p>
              <a href="#!">Politicians in NFD</a>
            </p>
            <p>
              <a href="#!">Politicians in NGP</a>
            </p>
            <p>
              <a href="#!">Politicians in NIP</a>
            </p>
            <p>
              <a href="#!">Politicians in NNPP</a>
            </p>
            <p>
              <a href="#!">Politicians in NPC</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

            <p>
              <a href="#!">Politicians in NPM</a>
            </p>
            <p>
              <a href="#!">Politicians in NRM</a>
            </p>
            <p>
              <a href="#!">Politicians in NUP</a>
            </p>
            <p>
              <a href="#!">Politicians in PCP</a>
            </p>
            <p>
              <a href="#!">Politicians in PDC</a>
            </p>
            <p>
              <a href="#!">Politicians in PDM</a>
            </p>
            <p>
              <a href="#!">Politicians in PDP</a>
            </p>
            <p>
              <a href="#!">Politicians in PPA</a>
            </p>
            <p>
              <a href="#!">Politicians in PPC</a>
            </p>
            <p>
              <a href="#!">Politicians in PPN</a>
            </p>
            <p>
              <a href="#!">Politicians in PPP</a>
            </p>
            <p>
              <a href="#!">Politicians in PRP</a>
            </p>

            <p>
              <a href="#!">Politicians in PT</a>
            </p>
            <p>
              <a href="#!">Politicians in RAP</a>
            </p>
            <p>
              <a href="#!">Politicians in RBNP</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2  mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold"></h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

            <p>
              <a href="#!">Politicians in RP</a>
            </p>
            <p>
              <a href="#!">Politicians in SNC</a>
            </p>
            <p>
              <a href="#!">Politicians in SDP</a>
            </p>
            <p>
              <a href="#!">Politicians in SNP</a>
            </p>
            <p>
              <a href="#!">Politicians in SPN</a>
            </p>
            <p>
              <a href="#!">Politicians in UPC</a>
            </p>
            <p>
              <a href="#!">Politicians in UDP</a>
            </p>
            <p>
              <a href="#!">Politicians in UP</a>
            </p>
            <p>
              <a href="#!">Politicians in UPN</a>
            </p>


            <p>
              <a href="#!">Politicians in UPP</a>
            </p>
            <p>
              <a href="#!">Politicians in WTPN</a>
            </p>
            <p>
              <a href="#!">Politicians in YDP</a>
            </p>
            <p>
              <a href="#!">Politicians in YES</a>
            </p>

            <p>
              <a href="#!">Politicians in YP</a>
            </p>
            <p>
              <a href="#!">Politicians in YPP</a>
            </p>
            <p>
              <a href="#!">Politicians in ZLP</a>
            </p>

          </div>
          <!-- Grid column -->



        </div>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <div style="background-color: #003457; color: #ffffff">
    <div class="container" style=" color: #ffffff">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
  <!-- contact -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> statesman.com</a>
  </div>
  <!-- Copyright -->

  <script src="/lib/bootstrap/js/jquery.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
  </body>

  </html>