<header>
    <nav>
        <h3>
            mystatesman
        </h3>
        <div>
            <li><a href="#">Home</a></li>
            <li><a href="#">Politicians</a></li>
            <li><a href="#">Suggest</a></li>
        </div>
        <div>
            <li>settings</li>
            <a href="#"><img src="/assets/userImage.png" alt="userAvatar"></a>
        </div>
    </nav>
</header>