<% include partials/header %>
  <div class="top container-fluid">
    <div class="footerHead w-100 container-fluid p-3">
     <ul class="d-flex flex-row justify-content-around">
       <a href="#"><li>A</li></a>
       <a href="#"><li>B</li></a>
       <a href="#"><li>C</li></a>
       <a href="#"><li>D</li></a>
       <a href="#"><li>E</li></a>
       <a href="#"><li>F</li></a>
       <a href="#"><li>G</li></a>
       <a href="#"><li>H</li></a>
       <a href="#"><li>I</li></a>
       <a href="#"><li>J</li></a>
       <a href="#"><li>K</li></a>
       <a href="#"><li>L</li></a>
       <a href="#"><li>M</li></a>
     </ul>
    </div>
    <div class="container-fluid d-flex flex-direction-column justify-content-between">
      
    </div>
  </div>

<% include partials/footer %>
 