<% include partials/header %>
  <div class="top container-fluid">
    <div class="footerHead w-100 container-fluid">
      <ul>
        <li>
          <26></26>
        </li>
      </ul>
    </div>
  </div>

<% include partials/footer %>
 