<% include partials/header %>

<div class="container-fluid">
  <div class="row">

    <div class="col-9">

      <form class="form-signin">
        <div class="top">
          <span id="statesman">mystatesman</span>
        </div>
        <div class=" social mb-4">
          <!-- <p id="sign">sign in</p> -->
          <button class="btn btn-sm btn-primary " type="submit">Google</button>
          <button class="btn btn-sm btn-primary" type="submit">facebook</button>
        </div>
        
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div id="forgot">
            <a href="#">Forgot your password?</a>
            <a href="#">Forgot your email?</a>
          </div>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>

        <div class="i">
          <a href="#">New here? </a> <a href="#">Create account</a>
        </div>
        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
      </form>
    </div>
    
    <div class="col-3">
      hello 1
    </div>
  </div>
</div>
 
<% include partials/footer %>
