<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="bootstrap-4.1.1-dist//css//bootstrap.min.css">
  <link rel="stylesheet" href="/naijahacks-teamOmalicha/public/css/landing.css">
</head>
<body>
  
  <div class="main">
    <div class="container1">
      <div class="form">
        <p class="title">Search for your Statesman</p>
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
        <button type="submit" class="btn btn-primary form-control">Submit</button>
      </div>
      <div class="states">
        <div class="state">
          <li><a href=""> ABIA </a></li>
          <li><a href=""> ADAMAWA </a></li>
          <li><a href=""> AKWA IBOM </a></li>
          <li><a href=""> ANAMBRA </a></li>
          <li><a href=""> BAUCHI</a></li>
          <li><a href=""> BAYELSA </a></li>
          <li><a href=""> BENUE </a></li>
          <li><a href=""> BORNU </a></li>
          <li><a href=""> CROSS RIVER </a></li>
          <li><a href=""> DELTA </a></li>
          <li><a href=""> EBONYI </a></li>
          <li><a href=""> EDO </a></li>
        </div>
        <div class="state">
            <li><a href=""> EKITI </a></li>
            <li><a href=""> ENUGU </a></li>
            <li><a href=""> FCT ABUJA </a></li>
            <li><a href=""> GOMBE </a></li>
            <li><a href=""> IMO</a></li>
            <li><a href=""> JIGAWA </a></li>
            <li><a href=""> KADUNA </a></li>
            <li><a href=""> KANO </a></li>
            <li><a href=""> KATSINA </a></li>
            <li><a href=""> KEBBI </a></li>
            <li><a href=""> KOGI</a></li>
            <li><a href=""> KWARA </a></li>
          </div>
          <div class="state">
            <li><a href=""> LAGOS </a></li>
            <li><a href=""> NASARAWA </a></li>
            <li><a href=""> NIGER </a></li>
            <li><a href=""> OGUN</a></li>
            <li><a href=""> ONDO </a></li>
            <li><a href=""> OSUN </a></li>
            <li><a href=""> OYO </a></li>
            <li><a href=""> PLATEAU </a></li>
            <li><a href=""> RIVERS </a></li>
            <li><a href=""> SOKOTO</a></li>
            <li><a href=""> TARABA </a></li>
            <li><a href=""> YOBE </a></li>
            <li><a href=""> ZAMFARA</a></li>
          </div>
      </div>
    </div>



    <div class="container2">
      <p class="searchPara">TOP SEARCHES</p>
      <div class="search">
        <div class="contain">
          <div class="imgDiv">
            <img src="img/g.jpg" alt="" class="img">
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="contain">
          <div class="imgDiv">
            <img src="img/g.jpg" alt="" class="img">
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="search">
        <div class="contain">
          <div class="imgDiv">
            <img src="img/g.jpg" alt="" class="img">
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="contain">
          <div class="imgDiv">
            <img src="img/g.jpg" alt="" class="img">
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Parties -->


    <div class="container3">
      <p class="partiesText">TOP PARTIES</p>
      <div class="box">
        <div class="boxes">
          <div class="card" >
            <img class="card-img-top" src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        
        <div class="boxes">
          <div class="card" >
            <img class="card-img-top"  src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="boxes">
          <div class="card" >
            <img class="card-img-top" src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="boxes">
          <div class="card" >
            <img class="card-img-top" src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="boxes">
          <div class="card" >
            <img class="card-img-top" src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="boxes">
          <div class="card" >
            <img class="card-img-top" src="img/g.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Running position</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>






         
       
        
       
    <!-- States -->
    <div class="container4">
      <p class="statePara">ToOP STATES</p>

      <div class="topState">
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABIA </a></h5>
          <p class="card-text">No of candiates: 3</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABIADAMAWAA </a></h5>
          <p class="card-text">No of candiates: 4</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABAKWA IBOMIA </a></h5>
          <p class="card-text">No of candiates: 1</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABANAMBRAIA </a></h5>
          <p class="card-text">No of candiates</p>
        </div>
      </div>

      <div class="topState">
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABIA </a></h5>
          <p class="card-text">No of candiates</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABIADAMAWAA </a></h5>
          <p class="card-text">No of candiates</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABAKWA IBOMIA </a></h5>
          <p class="card-text">No of candiates</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href=""> ABANAMBRAIA </a></h5>
          <p class="card-text">No of candiates: 0</p>
        </div>
      </div>

    </div>

  </div>
</body>
</html>