
  <li><a href=""> ABIA </a></li>
  <li><a href=""> ADAMAWA </a></li>
  <li><a href=""> AKWA IBOM </a></li>
  <li><a href=""> ANAMBRA </a></li>
  <li><a href=""> BAUCHI</a></li>
  <li><a href=""> BAYELSA </a></li>
  <li><a href=""> BENUE </a></li>
  <li><a href=""> BORNU </a></li>
  <li><a href=""> CROSS RIVER </a></li>
  <li><a href=""> DELTA </a></li>
  <li><a href=""> EBONYI </a></li>
  <li><a href=""> EDO </a></li>
  <li><a href=""> EKITI </a></li>
  <li><a href=""> ENUGU </a></li>
  <li><a href=""> FCT ABUJA </a></li>
  <li><a href=""> GOMBE </a></li>
  <li><a href=""> IMO</a></li>
  <li><a href=""> JIGAWA </a></li>
  <li><a href=""> KADUNA </a></li>
  <li><a href=""> KANO </a></li>
  <li><a href=""> KATSINA </a></li>
  <li><a href=""> KEBBI </a></li>
  <li><a href=""> KOGI</a></li>
  <li><a href=""> KWARA </a></li>
  <li><a href=""> LAGOS </a></li>
  <li><a href=""> NASARAWA </a></li>
  <li><a href=""> NIGER </a></li>
  <li><a href=""> OGUN</a></li>
  <li><a href=""> ONDO </a></li>
  <li><a href=""> OSUN </a></li>
  <li><a href=""> OYO </a></li>
  <li><a href=""> PLATEAU </a></li>
  <li><a href=""> RIVERS </a></li>
  <li><a href=""> SOKOTO</a></li>
  <li><a href=""> TARABA </a></li>
  <li><a href=""> YOBE </a></li>
  <li><a href=""> ZAMFARA</a></li>

 
  

   <li><a href="">African Action Congress (AAC)</a></li>
   <li><a href="">Abundant Nigeria Renewal Party (ANRP)</a></li>
   <li><a href="">Advanced Congress of Democrats (ACD)</a></li>
   <li><a href="">Alliance for Democracy (AD)</a></li>
   <li><a href="">Alliance for New Nigeria (ANN)[1]</a></li>
   <li><a href="">Action Democratic Party (ADP)</a></li>
   <li><a href="">All Democratic Peoples Movement (ADPM)</a></li>
   <li><a href="">All Progressives Congress (APC)</a></li>
   <li><a href="">African Democratic Congress (ADC)</a></li>
   <li><a href="">Advanced Peoples Democratic Alliance (APDA)</a></li>
   <li><a href="">All Progressives Grand Alliance (APGA)</a></li>
   <li><a href="">All People's Party (APP)</a></li>
   <li><a href="">African Renaissance Party [ARP]</a></li>
   <li><a href="">Conscience People's Congress [CPC]</a></li>
   <li><a href="">Communist Party of Nigeria (CPN)</a></li>
   <li><a href="">Citizens Popular Party (CPP)</a></li>
   <li><a href="">Nigeria Poor People Party (NPPP)</a></li>
   <li><a href="">Democratic Alternative (DA)</a></li>
   <li><a href="">Democratic Socialist Movement (DSM)</a></li>
   <li><a href="">Grassroot Patriotic Party (GPP)</a></li>
   <li><a href="">Justice Must Prevail Party (JMPP)</a></li>
   <li><a href="">Kowa Party (KP)[3]</a></li>
   <li><a href="">Labour Party [LP]</a></li>
   <li><a href="">Masses Movement of Nigeria (MMN)</a></li>
   <li><a href="">National Conscience Party (NCP)</a></li>
   <li><a href="">National Interest Party (NIP)</a></li>
   <li><a href="">New Democrats (ND)</a></li>
   <li><a href="">New Generations Party of Nigeria (NGP)</a></li>
   <li><a href="">National Democratic Party (NDP)</a></li>
   <li><a href="">People's Democratic Party (PDP)[4]</a></li>
   <li><a href="">Progressive Peoples Alliance (PPA)</a></li>
   <li><a href="">People Progressive Party (PPP)</a></li>
   <li><a href="">People's Redemption Party (PRP)</a></li>
   <li><a href="">People's Salvation Party (PSP)</a></li>
   <li><a href="">(aa) ACTION ALLIANCE</a></li>
   <li><a href="">Restoration Party of Nigeria (RP)</a></li>
   <li><a href="">Social Democratic Mega Party (SDMP)</a></li>
   <li><a href="">Socialist Party of Nigeria (SPN)</a></li>
   <li><a href="">Social Democratic Party (SDP)</a></li>
   <li><a href="">United Nigeria People's Party (UNPP)</a></li>
   <li><a href="">United Progressive Party (UPP)[5]</a></li>
   <li><a href="">Mega People Political Party</a></li>
   <li><a href="">Young Democratic Party (YDP)</a></li>
   <li><a href="">Young Progressive Party (YPP)</a></li>
   <li><a href="">[Youth Party] (YP)</a></li>
   <li><a href="">All Blended Party (ABP)</a></li>






  <p>
    <a href="#!">Politicians in A</a>
  </p>
  <p>
    <a href="#!">Politicians in AA</a>
  </p>
  <p>
    <a href="#!">Politicians in AAC</a>
  </p>
  <p>
    <a href="#!">Politicians in AAP</a>
  </p>
  <p>
    <a href="#!">Politicians in ABP</a>
  </p>
  <p>
    <a href="#!">Politicians in ACD</a>
  </p>
  <p>
    <a href="#!">Politicians in ACPN</a>
  </p>
  <p>
    <a href="#!">Politicians in AD</a>
  </p>
  <p>
    <a href="#!">Politicians in ADC</a>
  </p>
  <p>
    <a href="#!">Politicians in ADP</a>
  </p>
  <p>
    <a href="#!">Politicians in AGA</a>
  </p>
  <p>
    <a href="#!">Politicians in AGAP</a>
  </p>
  <p>
    <a href="#!">Politicians in ANDP</a>
  </p>
  <p>
    <a href="#!">Politicians in ANN</a>
  </p>
  <p>
    <a href="#!">Politicians in ANP</a>
  </p>


  <!-- DONE -->
  <p>
    <a href="#!">Politicians in ANRP</a>
  </p>
  <p>
    <a href="#!">Politicians in APA</a>
  </p>
  <p>
    <a href="#!">Politicians in APC</a>
  </p>
  <p>
    <a href="#!">Politicians in APDA</a>
  </p>
  <p>
    <a href="#!">Politicians in APGA</a>
  </p>
  <p>
    <a href="#!">Politicians in APM</a>
  </p>
  <p>
    <a href="#!">Politicians in APN</a>
  </p>
  <p>
    <a href="#!">Politicians in APP</a>
  </p>
  <p>
    <a href="#!">Politicians in ASD</a>
  </p>
  <p>
    <a href="#!">Politicians in AUN</a>
  </p>
  <p>
    <a href="#!">Politicians in BNPP</a>
  </p>
  <p>
    <a href="#!">Politicians in C4C</a>
  </p>
  <p>
    <a href="#!">Politicians in CAP</a>
  </p>
  <p>
    <a href="#!">Politicians in CNP</a>
  </p>
  <p>
    <a href="#!">Politicians in COP</a>
  </p>

  <!-- DONE -->


  <p>
    <a href="#!">Politicians in DA</a>
  </p>
  <p>
    <a href="#!">Politicians in DPC</a>
  </p>
  <p>
    <a href="#!">Politicians in DPP</a>
  </p>
  <p>
    <a href="#!">Politicians in FJP</a>
  </p>
  <p>
    <a href="#!">Politicians in FRESH</a>
  </p>
  <p>
    <a href="#!">Politicians in GDPN</a>
  </p>
  <p>
    <a href="#!">Politicians in GPN</a>
  </p>
  <p>
    <a href="#!">Politicians in HDP</a>
  </p>
  <p>
    <a href="#!">Politicians in ID</a>
  </p>
  <p>
    <a href="#!">Politicians in JMPP</a>
  </p>
  <p>
    <a href="#!">Politicians in KP</a>
  </p>
  <p>
    <a href="#!">Politicians in LM</a>
  </p>
  <p>
    <a href="#!">Politicians in LP</a>
  </p>
  <p>
    <a href="#!">Politicians in LPN</a>
  </p>
  <p>
    <a href="#!">Politicians in MAJA</a>
  </p>

  <!-- DONE -->

  <p>
    <a href="#!">Politicians in MDP</a>
  </p>
  <p>
    <a href="#!">Politicians in MMN</a>
  </p>
  <p>
    <a href="#!">Politicians in MPN</a>
  </p>
  <p>
    <a href="#!">Politicians in MRDD</a>
  </p>
  <p>
    <a href="#!">Politicians in NAC</a>
  </p>
  <p>
    <a href="#!">Politicians in NCMP</a>
  </p>
  <p>
    <a href="#!">Politicians in NCP</a>
  </p>
  <p>
    <a href="#!">Politicians in NDCP</a>
  </p>
  <p>
    <a href="#!">Politicians in NDLP</a>
  </p>
  <p>
    <a href="#!">Politicians in NEPP</a>
  </p>
  <p>
    <a href="#!">Politicians in NFD</a>
  </p>
  <p>
    <a href="#!">Politicians in NGP</a>
  </p>
  <p>
    <a href="#!">Politicians in NIP</a>
  </p>
  <p>
    <a href="#!">Politicians in NNPP</a>
  </p>
  <p>
    <a href="#!">Politicians in NPC</a>
  </p>

  <!-- DONE -->


  <p>
    <a href="#!">Politicians in NPM</a>
  </p>
  <p>
    <a href="#!">Politicians in NRM</a>
  </p>
  <p>
    <a href="#!">Politicians in NUP</a>
  </p>
  <p>
    <a href="#!">Politicians in PCP</a>
  </p>
  <p>
    <a href="#!">Politicians in PDC</a>
  </p>
  <p>
    <a href="#!">Politicians in PDM</a>
  </p>
  <p>
    <a href="#!">Politicians in PDP</a>
  </p>
  <p>
    <a href="#!">Politicians in PPA</a>
  </p>
  <p>
    <a href="#!">Politicians in PPC</a>
  </p>
  <p>
    <a href="#!">Politicians in PPN</a>
  </p>
  <p>
    <a href="#!">Politicians in PPP</a>
  </p>
  <p>
    <a href="#!">Politicians in PRP</a>
  </p>
  
  <p>
    <a href="#!">Politicians in PT</a>
  </p>
  <p>
    <a href="#!">Politicians in RAP</a>
  </p>
  <p>
    <a href="#!">Politicians in RBNP</a>
  </p>

  <!-- DONE -->

  
  <p>
    <a href="#!">Politicians in RP</a>
  </p>
  <p>
    <a href="#!">Politicians in SNC</a>
  </p>
  <p>
    <a href="#!">Politicians in SDP</a>
  </p>
  <p>
    <a href="#!">Politicians in SNP</a>
  </p>
  <p>
    <a href="#!">Politicians in SPN</a>
  </p>
  <p>
    <a href="#!">Politicians in UPC</a>
  </p>
  <p>
    <a href="#!">Politicians in UDP</a>
  </p>
  <p>
    <a href="#!">Politicians in UP</a>
  </p>
  <p>
    <a href="#!">Politicians in UPN</a>
  </p>
  
  
  <p>
    <a href="#!">Politicians in UPP</a>
  </p>
  <p>
    <a href="#!">Politicians in WTPN</a>
  </p>
  <p>
    <a href="#!">Politicians in YDP</a>
  </p>
  <p>
    <a href="#!">Politicians in YES</a>
  </p>
  
  <p>
    <a href="#!">Politicians in YP</a>
  </p>
  <p>
    <a href="#!">Politicians in YPP</a>
  </p>
  <p>
    <a href="#!">Politicians in ZLP</a>
  </p>