<% include partials/header %>

<div class="container-fluid">
  <div class="row">

    <div class="col-9">

      <form class="form-signin">
        <div class="top">
          <p class="statesman">mystatesman</p>
          <p class=" sign " >sign up  with</p>
        </div>
        
        <div class=" social mb-4">
          <button class="btn btn-sm btn-primary " >Google</button>
          <button class="btn btn-sm btn-primary" >facebook</button>
        </div>
        <p class="sign" id="sign">or with</p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="password" id="inputComfirmPassword" class="form-control" placeholder="Comfirm Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="forgot">
            <a href="#">Forgot your password?</a>
            <a href="#">Forgot your email?</a>
          </div>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>

        <div class="i">
          <a href="#">New here?  </a> <a href="#">Create account</a>
        </div>
        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
      </form>
    </div>
    
    <div class="d-flex col-3">
     <div class="secondDiv" >
       <h5>STATESMAN</h5>
       <p>
         We believe democracy is government of the people, for the people and by the people. <br>
         In a democratic government, information should be Transparent, True and Inclusive.
       </p>

       
     </div>
    </div>
  </div>
</div>

<% include partials/footer %>
 