<% include partials/header %>


<!-- Website Navigation  -->
<% include partials/menu %>

<main class="stn__wrapper">
<!-- Begin Statemans Page Section  -->

<section class="my-5 pt-5 section__profile-intro stn__bg-default">
    <div class="container mt-md-5">
        <div class="row">
            <!-- Left Column for Statesmans Profile -->
            <div class="col-sm-6 text-center">
                <img class="rounded-circle" src="/assets/politician.jpg" alt="PoliticianImage">
                <h3 class="text-uppercase text-xl-center mt-2">Andrew Miracle</h3>
                <p class="small">Running for the office of <span>President</span> of <span>Nigeria</span>, under the <span>People's Democratic Party</span></p>

            <!-- Statesman Credential Statistics -->
                <div class="row">
                    <div class="col-sm-4">
                        <h4>230,000 <span class="text-black-50 small d-block">Vouchers</span></h4>
                    </div>
                    <div class="col-sm-4">
                        <h4>7 <span class="text-black-50 small d-block">Positions Held</span></h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/party.png" alt="Political Party Emblem" width="50" height="50">
                    </div>
                </div>
            </div>

<!-- ============ KEY AGENDAS SECTION ========== BOOSTRAP PROGRESS BARS  -->
            <div class="col-sm-6 mt-5 pt-3">
                <div class="container ml-md-5">
                    <h2 class="text-uppercase my-4">KEY AGENDAS</h2>
                    <p>One U$D will be equivalent to One ₦G₦</p>
                    <p>I will wipe corruption out from the government</p>
                    <p>I will feed the people</p>
                    <p>I will provide educational scholarship</p>
                </div>
            </div>
<!-- ============ KEY AGENDAS SECTION ========== BOOSTRAP PROGRESS BARS  -->
        

        </div> <!-- End Row -->
    </div><!-- End Container DIV -->

    
</section>

<section class="section__profile-bio container">

    <div class="section__profile-bio-tab border">
            <nav class="stn__bg-default">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-bio-tab" data-toggle="tab" href="#nav-bio" role="tab" aria-controls="nav-bio" aria-selected="true">Biography</a>
                  <a class="nav-item nav-link" id="nav-offices-tab" data-toggle="tab" href="#nav-offices" role="tab" aria-controls="nav-offices" aria-selected="false">Past Offices</a>
                  <a class="nav-item nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Education</a>
                  <a class="nav-item nav-link" id="nav-awards-tab" data-toggle="tab" href="#nav-awards" role="tab" aria-controls="nav-awards" aria-selected="false">Awards and Recognitions</a>
                </div>
            </nav>

            <div class="tab-content stn__bg-default container p-5" id="nav-tabContent">    
                <!-- ========  Biography Tab Content ========= -->
                <div class="tab-pane fade show active" id="nav-bio" role="tabpanel" aria-labelledby="nav-bio-tab">
                    <div class="row"><!-- ======= start Bootstrap Row for Biography section ======== -->
                        <div class="col-md-8">
                            <p>Atiku Abubakar GCON (born 25 November 1946) is a Nigerian politician and business tycoon. He was vice-president of Nigeria 1999-2007 under President Olusegun Obasanjo representing the People's Democratic Party (PDP). <br>
                                    Abubakar worked in the Nigeria Customs Service for twenty years, rising to become the Deputy Director, as the second highest position in the Service was then known. He retired in April 1989 and took up full-time business and politics. He ran for the office of governor in the Gongola State (now Adamawa and Taraba States) in 1991, and for the Presidency in 1993, placing third after MKO Abiola and Babagana Kingibe in the Social Democratic Party (SDP) primaries. <br>
                                    In 1998 he was elected Governor of Adamawa State. While still Governor-Elect he was selected by the Peoples Democratic Party (PDP) Presidential candidate Olusegun Obasanjo as his running mate. The duo went on to win elections in February 1999, and Abubakar was sworn-in as Nigeria's second democratically elected vice president on 29 May 1999. </p>     
                                </div>
                                
                        <div class="col-md-4">
                            <div>
                                <h5>Current/Past Position : <span>Local Government Chairman</span></h5>
                                <h5>Age : <span>34</span></h5>
                                <h5>Parent's Name : <span>Odogwu Amada</span></h5>
                                <h5>Hometown : <span>Obingwa</span></h5>
                                <h5>Website : <span><a href="https://google.com">www.deservation.org</a></span></h5>
                                <h5>Facebook : <span><a href="https://fb.com">deservationFB</a></span></h5>
                                <h5>Instagram : <span><a href="https://ig.com">deservationIG</a></span></h5>
                                <h5>Twitter : <span><a href="https://twitter.com">deservationTW</a></span></h5>
                                <h5>Manifesto : <span><a href="https://manifesto.com">www.manifesto.com</a></span></h5>
                            </div>
                        </div>
                    </div><!-- =========== End  Bootstrap Row div ============ -->

                </div>
                <!-- ========  Biography Tab Content ========= -->
                

                <!-- ========  Past Offices Tab Content ========= -->
                <div class="tab-pane fade" id="nav-offices" role="tabpanel" aria-labelledby="nav-offices-tab">
                    
                </div>
                <!-- ========  Past Offices Tab Content ========= -->
                

                <!-- ========  Education Tab Content Section ========= -->
                <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                    
                </div>
                <!-- ========  Education Tab Content Section ========= -->
                
                
                <!-- ========  Education Tab Content Section ========= -->
                <div class="tab-pane fade" id="nav-awards" role="tabpanel" aria-labelledby="nav-awards-tab">
                    
                </div>
                <!-- ========  Education Tab Content Section ========= -->
            </div>
            </div>












    

</section>

<div class="text-center my-5">Is there any information we're missing out <a href="#">Suggest a section we should add</a></div>


<section>
    <h3>Achievements and Notable Mentions</h3>
        <p>Completed projects while in political office, voluntary and philantrophic projects to local communities and other organizations</p>
    
        <div>
            <img src="/public/assets/project.jpg" alt="Project in office">
            <h4>Construction of Ajegunle Roundabout</h4>
            <abbr title="10th of December 2015">December 10, 2015</abbr>

            <button>Upvote</button>
            <button>Downvote</button>
            <button>Comment</button>
        </div>

</section>


<section>
    <div>
        <h3>Recommendations</h3>
        <p>When I was a corper and deployed to work in Nassawara State, I served under the office of the Local Government and Mr Amadi was the then Minister of Works, he was very detailed and observant and has a spirit that carried everyone on the team along on every project we embarked on, he has a great heart and one time donated his blood during an emrgency to one of the staffs who had a terrible accident while on duty </p>
        <h5>Andrew Miracle</h5>
        <p>Minister of Enjoyment</p>
    </div>

</section>

</main>

<% include partials/footer %>
 