<% include partials/header %>


<!-- Website Navigation  -->
<% include partials/menu %>


<!-- Begin Statemans Page Section  -->
<section>
    <img src="/assets/politician.jpg" alt="PoliticianImage">
    <h3>Andrew Miracle</h3>
    <p>Running for the office of <span>President</span> of <span>Nigeria</span>, under the <span>People's Democratic Party</span></p>

        <h4>230,000 <span>Vouchers</span></h4>
        <h4>7 <span>Positions Held</span></h4>
        <img src="/assets/party.png" alt="Political Party Emblem">


    <h2>KEY AGENDAS</h2>
    <p>One U$D will be equivalent to One ₦G₦</p>
    <p>I will wipe corruption out from the government</p>
    <p>I will feed the people</p>
    <p>I will provide educational scholarship</p>
</section>

<section>
    <h2>Biography</h2>
    <h2>Positions Held</h2>
    <h2>Education</h2>
    <h2>Awards&Recognitions</h2>
    
    <div>
        <h5>Current/Past Position : <span>Local Government Chairman</span></h5>
        <h5>Age : <span>34</span></h5>
        <h5>Parent's Name : <span>Odogwu Amada</span></h5>
        <h5>Hometown : <span>Obingwa</span></h5>
        <h5>Website : <span><a href="https://google.com">www.deservation.org</a></span></h5>
        <h5>Facebook : <span><a href="https://fb.com">deservationFB</a></span></h5>
        <h5>Instagram : <span><a href="https://ig.com">deservationIG</a></span></h5>
        <h5>Twitter : <span><a href="https://twitter.com">deservationTW</a></span></h5>
        <h5>Manifesto : <span><a href="https://manifesto.com">www.manifesto.com</a></span></h5>
        

    </div>
</section>

<div>Is there any information we're missing out <a href="#">Suggest a section we should add</a></div>


<section>
    <h3>Achievements and Notable Mentions</h3>
        <p>Completed projects while in political office, voluntary and philantrophic projects to local communities and other organizations</p>
    
        <div>
            <img src="/public/assets/project.jpg" alt="Project in office">
            <h4>Construction of Ajegunle Roundabout</h4>
            <abbr title="10th of December 2015">December 10, 2015</abbr>

            <button>Upvote</button>
            <button>Downvote</button>
            <button>Comment</button>
        </div>

</section>


<section>
    <div>
        <h3>Recommendations</h3>
        <p>When I was a corper and deployed to work in Nassawara State, I served under the office of the Local Government and Mr Amadi was the then Minister of Works, he was very detailed and observant and has a spirit that carried everyone on the team along on every project we embarked on, he has a great heart and one time donated his blood during an emrgency to one of the staffs who had a terrible accident while on duty </p>
        <h5>Andrew Miracle</h5>
        <p>Minister of Enjoyment</p>
    </div>

</section>


<% include partials/footer %>
 