<% include partials/header %>


<!-- Website Navigation  -->
<% include partials/menu %>

<main class="stn__wrapper">
<!-- Begin Statemans Page Section  -->

<section class="my-5 pt-5 section__profile-intro stn__bg-default">
    <div class="container mt-md-5">
        <div class="row">
            <!-- Left Column for Statesmans Profile -->
            <div class="col-sm-6 text-center">
                <img class="rounded-circle" src="/assets/politician.jpg" alt="PoliticianImage">
                <h3 class="text-uppercase text-xl-center mt-2">Andrew Miracle</h3>
                <p class="small">Running for the office of <span>President</span> of <span>Nigeria</span>, under the <span>People's Democratic Party</span></p>

            <!-- Statesman Credential Statistics -->
                <div class="row">
                    <div class="col-sm-4">
                        <h4>230,000 <span class="text-black-50 small d-block">Vouchers</span></h4>
                    </div>
                    <div class="col-sm-4">
                        <h4>7 <span class="text-black-50 small d-block">Positions Held</span></h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/party.png" alt="Political Party Emblem" width="50" height="50">
                    </div>
                </div>
            </div>

<!-- ============ KEY AGENDAS SECTION ========== BOOSTRAP PROGRESS BARS  -->
            <div class="col-sm-6 mt-5 pt-3">
                <div class="container ml-md-5">
                    <h2 class="text-uppercase my-4">KEY AGENDAS</h2>
                    <p>One U$D will be equivalent to One ₦G₦</p>
                    <p>I will wipe corruption out from the government</p>
                    <p>I will feed the people</p>
                    <p>I will provide educational scholarship</p>
                </div>
            </div>
<!-- ============ KEY AGENDAS SECTION ========== BOOSTRAP PROGRESS BARS  -->
        

        </div> <!-- End Row -->
    </div><!-- End Container DIV -->

    
</section>

<section class="section__profile-bio">
        <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
              </div>
















    <h2>Biography</h2>
    <h2>Positions Held</h2>
    <h2>Education</h2>
    <h2>Awards&Recognitions</h2>
    
    <div>
        <h5>Current/Past Position : <span>Local Government Chairman</span></h5>
        <h5>Age : <span>34</span></h5>
        <h5>Parent's Name : <span>Odogwu Amada</span></h5>
        <h5>Hometown : <span>Obingwa</span></h5>
        <h5>Website : <span><a href="https://google.com">www.deservation.org</a></span></h5>
        <h5>Facebook : <span><a href="https://fb.com">deservationFB</a></span></h5>
        <h5>Instagram : <span><a href="https://ig.com">deservationIG</a></span></h5>
        <h5>Twitter : <span><a href="https://twitter.com">deservationTW</a></span></h5>
        <h5>Manifesto : <span><a href="https://manifesto.com">www.manifesto.com</a></span></h5>
        

    </div>
</section>

<div>Is there any information we're missing out <a href="#">Suggest a section we should add</a></div>


<section>
    <h3>Achievements and Notable Mentions</h3>
        <p>Completed projects while in political office, voluntary and philantrophic projects to local communities and other organizations</p>
    
        <div>
            <img src="/public/assets/project.jpg" alt="Project in office">
            <h4>Construction of Ajegunle Roundabout</h4>
            <abbr title="10th of December 2015">December 10, 2015</abbr>

            <button>Upvote</button>
            <button>Downvote</button>
            <button>Comment</button>
        </div>

</section>


<section>
    <div>
        <h3>Recommendations</h3>
        <p>When I was a corper and deployed to work in Nassawara State, I served under the office of the Local Government and Mr Amadi was the then Minister of Works, he was very detailed and observant and has a spirit that carried everyone on the team along on every project we embarked on, he has a great heart and one time donated his blood during an emrgency to one of the staffs who had a terrible accident while on duty </p>
        <h5>Andrew Miracle</h5>
        <p>Minister of Enjoyment</p>
    </div>

</section>

</main>

<% include partials/footer %>
 