* {
  margin: 0;
  padding: 0
}

/* register */
.container-fluid {
  height: 100vh;
  background-color:#007bff;
}
.col-9{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 90vh;
}

.col-3 {
  height: 90vh;
  background-color: rgb(206, 210, 209)
}

.secondDiv {
  /* background: yellow; */
  width: 100%;
  height: 90%;
  margin-top: 20px;
  padding: 10px;
}
.secondDiv p {
  font-size: 14px
}
.statesmanText h3 {
  font-weight: bold
}

.politicalParties {
  line-height: 2px
}
.politicalParties h4 {
  font-weight: bold
}
.imageDiv img {
  width: 50px;
  height: 50px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-top: 15px;
  margin-bottom:10px;
  height: 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.forgot {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.social {
  display: flex;
}
.top {
  margin: 0 auto;
  line-height: 19px
}

.sign {
  margin: -10px 90px;
  font-size: 12px;
  position: relative;
  top: 14px;
  left: 20px;
}
.orWith {
  margin: -10px 90px;
  font-size: 12px;
  position: relative;
  bottom: 10px;
  left: 35px;
}
.statesman {
  width: 100%;
  font-weight:900;
  font-size: 25px;
  color: rgb(17, 127, 57);
  letter-spacing: 2px;
  margin-left: 50px;
  /* margin: 0 auto; */
}
.btn {
  width: 40%;
  margin: 30px  auto 0 auto;
}
.i {
  margin: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
 
}
.forgotpassword  {
  position: relative;
  top: 1px
}
a {
  text-decoration: none
}
/* .f {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
} */
.i a {
  font-size: 24;
  margin: auto;
}

.footer {
  float: left;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  height: 20px;
  color: white;
  /* background: lawngreen */
}
/* login */




/* footer */

.states {
  height: 20%;
  background: #007bff;
  color: red;
}
.top {
  background: white;
}
.footerHead {
  background :  rgb(17, 127, 57);;
  height:20%;
}

.footerBody {
  background: #007bff;
  height: 70vh;
}

.footerFooter {
  background: #007bff
}

/* Ben */
